main .petContainer {

    position: absolute;

    z-index: 12;
    top: 15px;
    height: var(--parallax-height);
    width: var(--parallax-height);
}

main .petContainer .petContainerInner {

    height: 100%;
    width: 100%;
}

main .petContainer .petContainerInner .pet {

    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.pet.ui-idle {
    background: url(../img/mapache/Estatico.png);
}